body {
  margin: 0;
}

.dark-blue-text {
  color: hsl(240, 6%, 50%);
}

.very-dark-blue-text {
  color: hsl(237, 12%, 33%);
}

.dark-saturated-blue-text {
  color: hsl(238, 29%, 16%);
}

.soft-red-text {
  color: hsl(14, 88%, 65%);
}

.regular-text {
  font-weight: 400;
}

.bold-text {
  font-weight: 700;
}

.component-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    hsl(273, 75%, 66%) 30%,
    hsl(240, 73%, 65%)
  );
}

.component {
  display: flex;
  flex-direction: row;
  font-family: "Kumbh Sans", sans-serif;
  background-color: hsl(0, 0%, 100%);
  width: 800px;
  border-radius: 18px;
  padding: 30px 35px 65px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  margin: 60px;
  overflow: hidden;
}

.img-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 385px;
  height: 355px;
}

.img-pattern-desktop {
  z-index: 0;
  width: 740px;
  transform: translate(-400px, -20px);
}

.img-woman-desktop {
  z-index: 1;
  width: 450px;
  transform: translate(-850px, 10px);
}

.img-box-desktop {
  position: absolute;
  z-index: 2;
  width: 150px;
  transform: translate(-115px, 50px);
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-heading {
  font-size: 30px;
  margin-bottom: 40px;
}

.faq-item {
  display: flex;
  flex-direction: column;
  width: 410px;
}

.faq-question-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-hover {
  cursor: pointer;
}

.faq-question {
  order: 0;
  pointer-events: none;
  font-size: 15px;
  margin: 0;
}

.arrow {
  pointer-events: none;
  margin-left: auto;
}

.up-arrow {
  transform: rotate(180deg);
}

.faq-answer {
  order: 1;
  font-size: 12px;
  width: 92%;
  line-height: 18px;
  margin: 10px 0 0;
}

.faq-divider {
  order: 2;
  width: 100%;
  opacity: 0.4;
  margin: 15px 0;
}

@media (max-width: 1000px) {
  .component {
    flex-direction: column;
    width: 320px;
    padding: 0 35px 40px;
    margin: 170px 0 70px;
  }

  .img-section {
    flex-direction: column;
    width: auto;
    height: auto;
  }

  .img-pattern-mobile {
    width: 300px;
  }

  .img-woman-mobile {
    position: absolute;
    width: 300px;
    transform: translate(0, -135px);
  }

  .text-heading {
    text-align: center;
    margin: 29px;
  }

  .faq-item {
    width: 300px;
  }
}
